*{
    box-sizing: border-box;
    font-family: "Outfit";
}
ul > li{
    list-style-position: outside;
    padding-left: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
:root{
    --blue: #16635b;
    --white: rgb(255, 255, 255);
    --gray: rgb(243, 245, 245);
    --shadow: rgb(211, 208, 208);
    --oj: #eab308;

    --card-border-radius: .35rem;
}

.container{
    background-color: var(--gray);
    display: grid;
    grid-template-columns: minmax(180px, .5fr) repeat(2, minmax(300px, 1fr)) 1fr minmax(300px,1fr);
}
.dashboard{
    background-color: var(--blue);
    grid-row: 1 / 5;
    padding: 1rem;
    line-height: 2;
    color: var(--white);
    text-transform: capitalize;
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    
}
    .dashboard a,
    .nav-button a,
    .grid-item a{
        color: inherit;
        text-decoration: none;
    }

header{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}
    .header-row-1,
    .header-row-2{
        padding:1rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    
}
    .header-row-1,
    nav,
    .title,
    .announcements-title,
    .trending-title{
        text-transform: capitalize;
    }
        .search-container,
        .notifications-container,
        .profile-container,
        nav{
            display: flex;
            gap: 1rem;
        }
            #searchbar{
                border-radius: 1rem;
                border:0px;
                background-color: var(--gray);
            }

          .greeting,
          #small-profile-name,
          .announcements-title,
          .title,
          .trending-title,
          nav{
            font-weight:bold;
          }
          #user-tag{
            font-size: larger;
          }
    nav div{
        
        background-color: var(--blue);
        border-radius: 2rem;
        align-self: center;
        padding: .5rem 1rem;
        font-size: larger;
        color: var(--white);
    }  
ion-icon{
    font-size: 30px;
}

.main-content{
    grid-column: 2 / 5;
    margin: 1rem;
    margin-top: 2rem;
}
    .projects-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));   
        margin: 1rem;
        gap: 1rem;
    }
        .grid-item,
        .announcements-flex,
        .trending-flex,
        header{
            padding:1.5rem;
            background-color: var(--white);
            border-radius: var(--card-border-radius);
            box-shadow: 5px 5px 5px var(--shadow);
            
        }
        .grid-item{
            border-left: solid var(--card-border-radius) var(--oj);
        }
            .projects-title{
                font-weight: bold;
                text-transform: capitalize;
            }
            .projects-utilities{
                display: flex;
                justify-content: flex-end;
                gap: 15px;
            }

.sidebar{
    grid-column: 5 / 6;
    padding: 1.5rem;
    padding-top: 2rem;
}
    .announcements-flex p{
        overflow:hidden;
        white-space: nowrap ;
        text-overflow: ellipsis;
        height: 5vh;
    }
    .trending-flex img{
        height: 40px;
        border-radius: 40px;
    }
    .trending-item{
        display: flex;
        gap:1rem;
        
    }
    .titles :last-child{
        color:gray
    }



